<h1 id="loginheader">Logowanie</h1>

<div id="loginform">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :login, "Login:" %><br />
      <%= f.text_field :login, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Hasło:" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.check_box :remember_me, class: "remember" %>
        <%= f.label :remember_me, "Zapamiętaj"%>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Zaloguj", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<!-- <%= render "users/shared/links" %> -->
<div id="loginlinks">
  <%= link_to "Rejestracja", new_user_registration_path %><br/>
  <%= link_to "Nie pamiętasz hasła?", new_user_password_path  %>
</div>