<div id="statisticnavigationban">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="<%= "active" if controller.action_name == "index" %>"><%= link_to "Ogólne", statistics_index_path %></li>
	  <li role="presentation" class="<%= "active" if controller.action_name == "categories" %>"><%= link_to "Kategorie", statistics_categories_path %></li>
	  <li role="presentation" class="<%= "active" if controller.action_name == "resources" %>"><%= link_to "Zasoby", statistics_resources_path %></li>
	</ul>
	<p id="statisticsheader">Statystyki za <%= monthName(Date.today.strftime("%m")) %></p>
</div>