<h1>Statystyki kategorii</h1>

<%= render 'navigation' %>

<table class="table bordertable">
	<thead>
		<th>Kategoria</th>
		<th>Przychód</th>
		<th>Wychód</th>
		<th>Slado zero</th>
		<th class="active">Razem</th>
	</thead>
	<tbody>
		<% current_user.categories.each do |f| %>
			<tr>
				<td class="tablerowheader"><%= f.name %></td>
				<td><%= number_with_precision(@transactions.categorySearch(f.id).typeSearch(1).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
				<td><%= number_with_precision(@transactions.categorySearch(f.id).typeSearch(2).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
				<td><%= number_with_precision(@transactions.categorySearch(f.id).typeSearch(3).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
				<td class="boldtd active"><%= number_with_precision(@transactions.categorySearch(f.id).typeSearch(1).sum(:value) - @transactions.categorySearch(f.id).typeSearch(2).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
			</tr>
		<% end %>
		<tr>
			<td class="boldtd active">Łącznie:</td>
			<td class="boldtd active"><%= number_with_precision(@transactions.typeSearch(1).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
			<td class="boldtd active"><%= number_with_precision(@transactions.typeSearch(2).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
			<td class="boldtd active"><%= number_with_precision(@transactions.typeSearch(3).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
			<td class="boldtd active"><%= number_with_precision(@transactions.typeSearch(1).sum(:value) - @transactions.typeSearch(2).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
		</tr>
	</tbody>
</table>