<h1>Statystyki ogólne</h1>

<%= render 'navigation' %>

<div>
	<table class="table table-hover">
		<tr>
			<td id="firstrow" class="boldtd col-md-3">Ilośc transakcji:</td>
			<td id="firstrow" class="col-md-*"><%= @transactions.count %></td>
		</tr>
		<tr>
			<td class="boldtd">Suma przychodów:</td>
			<td><%= number_with_precision(@transactions.typeSearch(1).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
		</tr>
		<tr>
			<td class="boldtd">Suma wychodów:</td>
			<td><%= number_with_precision(@transactions.typeSearch(2).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
		</tr>
		<tr>
			<td class="boldtd">Wartość transakcji z saldem zero:</td>
			<td><%= number_with_precision(@transactions.typeSearch(3).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
		</tr>
		<tr>
			<td class="boldtd">Saldo:</td>
			<td><%= number_with_precision(@transactions.typeSearch(1).sum(:value)-@transactions.typeSearch(2).sum(:value), :precision => 2).sub!(".", ",") %> zł</td>
		</tr>
	</table>
</div>