<h1>Statystyki zasobów</h1>

<%= render 'navigation' %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= line_chart @resources, {library: {hAxis: {title: "Data"}, vAxis: {title: "Wielkość [zł]"}}} %>

<table class="table bordertable">
	<thead>
		<th>Zasób</th>
		<th>Stan na początku miesiąca</th>
		<th>Stan obecny</th>
		<th>Saldo</th>
	</thead>
	<tbody>
		<% @resources.each do |resource| %>
			<tr>
				<td class="tablerowheader"><%= resource[:name] %></td>
				<% first = resource[:data].values.last; last = resource[:data].values.first %>
				<td><%= number_with_precision(first, :precision => 2) %> zł</td>
				<td><%= number_with_precision(last, :precision => 2) %> zł</td>
				<td class="<%= tdcolor(last - first) %>"><%= number_with_precision(last - first, :precision => 2) %> zł</td>
			</tr>
		<% end %>
	</tbody>
</table>