<h1>Edycja zasobu:</h1>
<%= form_for @resource, url: resources_update_path(@resource), method: :put do |f| %>
	<div class="form-group">
		<%= f.label :name, "Nazwa:" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :value, "Wartość:" %>
		<em>[zł]</em>
		<%= f.text_field :value, class: "form-control", :value => (number_with_precision(@resource.value, :precision => 2)).sub!(".", ",") %>
	</div>

	<p><%= f.submit "Aktualizuj zasób", class: "btn btn-primary"%></p>
<% end %>

<p><%= link_to "Powrót do zasobów", resources_index_path, class: "linkto" %></p>
