<h1>Zasób: <%= @resource.name %></h1>

<div id="resourceshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Nazwa:</td>
	      	<td id="firstrow"><%= @resource.name %></td>
	    </tr>
	    <tr>
	    	<td>Wartość:</td>
	      	<td><%= (number_with_precision(@resource.value, :precision => 2)).sub!(".", ",") %> zł</td>
	    </tr>
	</table>
</div>

<p><%= link_to "Powrót do zasobów", resources_index_path, class: "linkto" %></p>