// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#categoryshowdiv {
    width: 30%;
    font-size: 17px;
 }