#loginheader {
}

#loginform {
	width: 20%; 
}

#loginlinks {
	margin-top: 0.3%;
	font-size: 15px;
	margin-bottom: 2%;
}

form > .checkbox > input[type="checkbox"] {
	margin-top: 4px;
	margin-left: 0px;
}

form > .checkbox {
	font-size: 15px;
	margin-top: -3%;
}