#error_explanation {
}

#error_explanation > h2 {
	font-size: 16px;
	color: red;
}

#error_explanation > ul > li {
	font-size: 13px;
	color: red;
}

#registrationheader {
}

#registrationform {
	width: 20%; 
}

#registrationlinks {
	margin-top: 0.3%;
	font-size: 15px;
	margin-bottom: 2%;
}