// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.table.table-hover > tbody > tr > td {
    vertical-align: middle;
  }

.linkto {
	font-size: 17px;
}

#resourceshowdiv {
    width: 30%;
    font-size: 17px;
 }

 #firstrow {
    border-top: 0px;
 }

 .addlinkdiv {
  	margin-top: 2%;
  	margin-bottom: 0%;
 }

 .addlinkdiv > p {
  	margin-bottom:  0%;
 }