// Place all the styles related to the statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boldtd {
	font-weight: bold;
}

.bordertable, .bordertable th {
	border: 2px solid #ddd;
	/*text-align: center;*/
}

.bordertable td, {
	border: 1px solid #ddd;
	text-align: right;
}

.bordertable .tablerowheader {
	text-align: left;;
}

#statisticsheader {
	font-size: 23px;
	margin: 1% 0% 0.5% 0%;
	/*font-weight: bold;*/
}