// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#descriptionlabel {
	font-size:  11px;
}

.field_with_errors {
	display: inline;
}

.field_with_errors > input{
	border: 1px solid #B70000;
}

.sortinglink:link, .sortinglink:visited {
	color: #333333;
}

.sortinglink:active, .sortinglink:visited:active {
	color: #333333;
	text-decoration: underline;
}

.sortinglink:hover {
	color: #333333;
	text-decoration: underline;
}

#transactionshowdiv {
	width: 70%;
	font-size: 17px;
}

#descriptiontd{
    vertical-align: top;
 }

.text-area {
	resize: vertical;
}

#transactions_search {
	margin: 0;
	padding: 0;
}

#transactions_search > table > tbody > tr > td > .form-control {
	width: 100%;
}

.addlink {
	font-size: 20px;
}

#searchtable {
	margin-bottom: 1%;
}