<h1>Twoje kategorie</h1>

<div class="addlinkdiv">
	<p><%= link_to "Dodaj nową kategorię", categories_new_path, class: "addlink" %></p>
</div>

<% i=0 %>
<table  class="table table-hover">
  <thead>
  <th>Nr.</th>
  <th>Nazwa</th>
  <th>Szczegóły</th>
  <th>Edytuj</th>
  <th>Usuń</th>
  </thead>
  <tbody>
	<% @categories.each do |f| %>
		<tr>
			<td><%= i+=1 %></td>
			<td><%= f.name %></td>
			<td><%= link_to "Szczegóły", categories_show_path(f), :class => "btn btn-info"%></td>
	        <td><%= link_to "Edytuj", categories_edit_path(f), :class => "btn btn-primary"%></td>
	        <td><%= link_to "Usuń", categories_destroy_path(f), method: :delete, data: { confirm: 'Na pewno usunąć ten zesób?' }, :class => "btn btn-danger"%></td>
		</tr>
	<% end %>
  </tbody>
</table>
<%= will_paginate @resources, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>