<h1>Dodawanie kategorii:</h1>
<%= form_for @category, url: categories_create_path do |f| %>
	<div class="form-group">
		<%= f.label :name, "Nazwa:" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<p><%= f.submit "Dodaj kategorię", class: "btn btn-primary"%></p>
<% end %>

<p><%= link_to "Powrót do kategorii", categories_index_path, class: "linkto" %></p>
