<h1>Kategoria: <%= @category.name %></h1>

<div id="categoryshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Nazwa:</td>
	      	<td id="firstrow"><%= @category.name %></td>
	    </tr>
	</table>
</div>

<p><%= link_to "Powrót do kategorii", categories_index_path, class: "linkto" %></p>