<% i=0 %>
	<table class="table table-hover">
		<thead>
		<th>
			<%= link_to transactions_index_path(sortable("id")), class: "sortinglink" do %>
				Nr.<%= column_name("id") %>
			<% end %>
		</th>
		<th>
			<%= link_to transactions_index_path(sortable("name")), class: "sortinglink" do %>
				Nazwa<%= column_name("name") %>
			<% end %>
		</th>
		<th>
			<%= link_to transactions_index_path(sortable("value")), class: "sortinglink" do %>
				Wartość<%= column_name("value") %>
			<% end %>
		</th>
		<th>Szczegóły</th>
		<th>Edytuj</th>
	 	<th>Usuń</th>
	  	</thead>
	  	<tbody>
		<% @transactions.each do |f| %>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= f.name %></td>
				<td><%= number_with_precision(f.value, :precision => 2).sub!(".", ",") %> zł</td>
				<td><%= link_to "Szczegóły", transactions_show_path(f), :class => "btn btn-info"%></td>
		        <td><%= link_to "Edytuj", transactions_edit_path(f), :class => "btn btn-primary"%></td>
		        <td><%= link_to "Usuń", transactions_destroy_path(f), method: :delete, data: { confirm: 'Na pewno usunąć ten zesób?' }, :class => "btn btn-danger"%></td>
			</tr>
		<% end %>
	  </tbody>
	</table>

<%= will_paginate @transactions, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>