<h1>Twoje kategorie</h1>

<div class="addlinkdiv">
	<p><%= link_to "Dodaj nową transakcję", transactions_new_path, class: "addlink"%></p>
</div>

<div id="serarchdiv">
	<%= form_tag transactions_index_path, :method => :get, :class => "navbar-form navbar-left", :role => "search", :id => "transactions_search", :enforce_utf8 => false do %>
		<table class="table" id="searchtable">
			<thead>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Wyszukaj:</th>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Data:</th>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Kategoria:</th>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Zasób:</th>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Płatność:</th>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Typ:</th>
			</thead>
			<tbody>
				<tr>
			<td>
				<!-- <div class="form-group"> -->
			    	<%= text_field_tag :search, params[:search], placeholder: "Wyszukaj", class: "form-control" %>
			  	<!-- </div> -->
			</td>
			<td>
			  	<!-- <div class="form-group"> -->
				  	<%= select_tag :date, options_for_select([['Wszystkie', 0], ['Dziś', 1], ['Tydzień', 2], ['2 Tygodnie', 3], ['Miesiąc', 4], ['3 Miesiące', 5], ['Pół roku', 6], ['Rok', 7]], params[:date]), id: "datesearch", class: "form-control"%>
			  	<!-- </div> -->
			</td>
			<td>
			  	<!-- <div class="form-group"> -->
				  	<%= select_tag :category, options_for_select([['Wszystkie', 0]]+@current_user.categories.collect{ |u| [u.name, u.id] }, params[:category]), id: "categorysearch", class: "form-control"%>
			  	<!-- </div> -->
			</td>
			<td>
			  	<!-- <div class="form-group"> -->
				  	<%= select_tag :resource, options_for_select([['Wszystkie', 0]]+@current_user.resources.collect{ |u| [u.name, u.id] }, params[:resource]), id: "resourcesearch", class: "form-control"%>
			  	<!-- </div> -->
			</td>
			<td>
			  	<!-- <div class="form-group"> -->
				  	<%= select_tag :payment, options_for_select([['Wszystkie', 0]]+Payment.all.collect{ |u| [u.name, u.id] }, params[:payment]), id: "paymentsearch", class: "form-control"%>
			  	<!-- </div> -->
			</td>
			<td>
			  	<!-- <div class="form-group"> -->
				  	<%= select_tag :type, options_for_select([['Wszystkie', 0]]+Type.all.collect{ |u| [u.name, u.id] }, params[:type]), id: "typesearch", class: "form-control"%>
		  		<!-- </div> -->
			</td>
		   <!-- <%= submit_tag "Wyszukaj", :name => nil, class: "btn btn-default" %> -->
		   			</tr>
			</tbody>
		</table>
	<% end %>
</div>

<div id="transactions">
	<%= render 'transactions' %>
</div>