<h1>Dodawanie transakcji:</h1>
<%= form_for @transaction, url: transactions_create_path do |f| %>
	<div class="form-group">
		<%= f.label :name, "Nazwa:" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :value, "Wartość:" %>
		<em>[zł]</em>
		<%= f.text_field :value, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :shoppingTime, "Data:" %>
		<div class='input-group date' id='datetimepicker'>
            <%= f.text_field :shoppingTime, class: "form-control"%>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
	</div>
	<div class="form-group">
		<%= f.label :resource, "Zasób:" %>
		<%= f.select(:resource, current_user.resources.map { |e| [e.name, e.id] }, {}, {:class => "form-control"}) %>
	</div>
	<div class="form-group">
		<%= f.label :category, "Kategoria:" %>
		<%= f.select(:category, current_user.categories.map { |e| [e.name, e.id] }, {}, {:class => "form-control"}) %>
	</div>
	<div class="form-group">
		<%= f.label :type, "Typ:" %>
		<%= f.select(:type, Type.all.map { |e| [e.name, e.id] }, {}, {:class => "form-control"}) %>
	</div>
	<div class="form-group">
		<%= f.label :payment, "Płatność:" %>
		<%= f.select(:payment, Payment.all.map { |e| [e.name, e.id] }, {}, {:class => "form-control"}) %>
	</div>
	<div class="form-group">
		<%= f.label :description, "Opis:"%>
		<em id="descriptionlabel">(Pokaż)</em>
		<%= f.text_area :description, class: "form-control text-area", style: "display: none", :rows => 5 %>
	</div>

	<p><%= f.submit "Dodaj transakcję", class: "btn btn-primary"%></p>
<% end %>

<p><%= link_to "Powrót do transakcji", transactions_index_path, class: "linkto" %></p>
