<h1>Transakcja: <%= @transaction.name %></h1>

<div id="transactionshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Nazwa:</td>
	      	<td id="firstrow"><%= @transaction.name %></td>
	    </tr>
	    <tr>
	    	<td>Wartość:</td>
	      	<td><%= (number_with_precision(@transaction.value, :precision => 2)).sub!(".", ",") %> zł</td>
	    </tr>
	    <tr>
	    	<td>Data:</td>
	      	<td><%= @transaction.shoppingTime.strftime("%d.%m.%Y %k:%M") %></td>
	    </tr>
	    <tr>
	    	<td>Zasób:</td>
	      	<td><%= @transaction.resource.name %></td>
	    </tr>
	    <tr>
	    	<td>Kategria:</td>
	      	<td><%= @transaction.category.name %></td>
	    </tr>
	    <tr>
	    	<td>Typ:</td>
	      	<td><%= @transaction.type.name %></td>
	    </tr>
	    <tr>
	    	<td>Płatność:</td>
	      	<td><%= @transaction.payment.name %></td>
	    </tr>
	    <% if @transaction.description.present? %>
	    	<tr>
		    	<td id="descriptiontd">Opis:</td>
		      	<td><%= simple_format h @transaction.description %></td>
		    </tr>
	    <% end %>
	</table>
</div>

<p><%= link_to "Powrót do transakcji", transactions_index_path, class: "linkto" %></p>