<h1 id="registrationheader">Rejestracja</h1>

<%= devise_error_messages! %>

<div id="registrationform">
  <%= form_for(resource, as: resource_name, url: user_registration_path(resource)) do |f| %>

    <div class="form-group">
      <%= f.label :name, "Imię:" %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :surname, "Nazwisko:" %>
      <%= f.text_field :surname, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :login, "Login:" %>
      <%= f.text_field :login, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "E-mail:" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Hasło:" %>
      <% if @validatable %>
      <em>(Minimum <%= @minimum_password_length %> znaków)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Powtórz hasło:" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Zarejestruj", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
<!-- <%= render "users/shared/links" %> -->
<div id="registrationlinks">
  <%= link_to "Logowanie", new_user_session_path %>
</div>